# Environment variables
.env
backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.egg-info/

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
frontend/node_modules/

# IDE
.vscode/
.idea/
